.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 1s;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    /* regole necessarie all'animazione */
    animation-name: disappear;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* /regole necessarie all'animazione */
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-10-icon {
    font-size: 60px;
}

.ex-11-icon {
    font-size: 60px;
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* RISOLUZIONE ESERCIZI */

* {
    animation-timing-function: linear;
}

/* risoluzione esercizio 1 */

.ex-1-square:hover {
    background-color: red;
}

/* risoluzione esercizio 2 */

.ex-2-square:active {
    transition: 1s;
    width: 600px;
    height: 300px;
}

/* risoluzione esercizio 3 */

.ex-3-square:hover {
    border-radius: 50%;
    transition: 1s;
}

/* risoluzione esercizio 4 */

@keyframes disappear {
    0% {
        background-color: red;
    }
    100% {
        background-color: #f5f5f5;
    }
}

/* risoluzione esercizio 5 */

.ex-5-square:hover {
    transition: 0.3s;
    height: 80px;
    width: 80px;
}

.ex-5-square:active {
    transition: 0.2s;
    height: 50px;
    width: 50px;
}

/* risoluzione esercizio 6 */

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* risoluzione esercizio 7 */

.ex-7-img:hover {
    transition: 1s;
    filter: blur(3px) hue-rotate(90deg);
}

/* risoluzione esercizio 8 */

.ex-8-img:hover
/* cancellami */

    {
    /* regole necessarie all'animazione */
    animation-name: smarmella;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* /regole necessarie all'animazione */
}

@keyframes smarmella {
    0% {
        border-radius: 0;
        filter: blur(0.5px) hue-rotate(0deg);
    }
    25% {
        border-radius: 15%;
        filter: blur(1.5px) hue-rotate(25deg);
    }
    50% {
        border-radius: 35%;
        filter: blur(3px) hue-rotate(45deg);
    }
    100% {
        border-radius: 50%;
        filter: blur(5px) hue-rotate(90deg);
    }
}

/* risoluzione esercizio 9 */

.ex-9-img:hover
/* cancellami */

    {
    /* regole necessarie all'animazione */
    animation-name: apri_tutto;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /* /regole necessarie all'animazione */
}

@keyframes apri_tutto {
    0% {
        border-radius: 0;
        filter: sepia(0) grayscale(0);
        width: 500px
    }
    25% {
        border-radius: 25px;
        filter: sepia(25%) grayscale(25%);
        width: 400px
    }
    50% {
        border-radius: 50px;
        filter: sepia(50%) grayscale(50%);
        width: 300px
    }
    75% {
        border-radius: 75px;
        filter: sepia(75%) grayscale(75%);
        width: 200px
    }
    100% {
        border-radius: 100px;
        filter: sepia(100%) grayscale(100%);
        width: 100px
    }
}

/* risoluzione esercizio 10 */

.ex-10-icon {
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* risoluzione esercizio 11 */

.ex-11-icon:hover {
    animation-name: loading_backwards;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes loading_backwards {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* risoluzione esercizio 12 */

/* regole necessarie all'animazione */

.ex-12-button:hover .ex-12-top-white {
    animation-name: loading-top-12;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: loading-bot-12;
    animation-duration: 2s;
    animation-iteration-count: infinite
}

.ex-13-button:hover .ex-13-top-white {
    animation-name: loading-top-13;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation-name: loading-bot-13;
    animation-duration: 2s;
    animation-iteration-count: infinite
}

/* /regole necessarie all'animazione */

@keyframes loading-top-12 {
    0% {
        top: -10px;
        left: 10%;
    }
    100% {
        top: -10px;
        left: 100%;
    }
}

@keyframes loading-bot-12 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    100% {
        bottom: -10px;
        right: 80%;
    }
}

/* risoluzione esercizio 13 */

@keyframes loading-top-13 {
    0% {
        top: -10px;
        left: 10%;
    }
    15% {
        top: -10px;
        left: 100%;
    }
    30% {
        top: 60px;
        left: 100%;
    }
    45% {
        top: 60px;
        left: 50%;
    }
    60% {
        top: 60px;
        left: 0;
    }
    75% {
        top: 60px;
        left: -20px;
        width: 40px;
    }
    90% {
        top: -10px;
        left: -20px;
        width: 40px;
    }
    100% {
        top: -10px;
        left: 20%;
    }
}

@keyframes loading-bot-13 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    15% {
        bottom: -10px;
        right: 80%;
    }
    30% {
        bottom: 60px;
        right: 80%;
    }
    45% {
        bottom: 60px;
        right: 50%;
    }
    60% {
        bottom: 60px;
        right: -40px;
    }
    75% {
        bottom: -10px;
        right: -40px;
    }
    90% {
        bottom: -10px;
        right: 0;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}